.container {
  font-family: Roboto;
  display: grid;
  background: white;
  grid-template-rows: 5vh 20vh 20vh;
  grid-template-areas: "head head"
                       "skills analysis"
                       "skills2 manage"
                       "skills3 stuff"
                        "skills4 vacant";
}

@media  (min-width: 44rem) and (min-height: 30rem) {
  .container {
    font-family: Roboto;
    display: grid;
    background: white;
    /*width: 80%;*/
    padding-left: 2%;
    grid-template-columns: 15% repeat(4, auto);
    grid-template-rows: 5vh 20vh;
    grid-template-areas: "head head head head head"
                        "skills analysis manage stuff vacant";
  }
}

.p {
  margin: 0 0 8px 0;
}

.resume {
  grid-column: span 6;
  position: relative;
  border-top: 1px dotted #d7d7d7;
  margin: 10px 0 20px 0;
  padding-top: 35px;
}

.resume_skills {
  grid-area: skills;
  float: left;
  text-align: left;
}

.resume_skills_manage {
  grid-area: skills2;
    float: left;
    text-align: left;
}

@media (min-width: 44rem) {
  .resume_skills_manage {
    display: none;
  }
}

.resume_skills_stuff {
  grid-area: skills3;
    float: left;
    text-align: left;
}

@media (min-width: 44rem) {
  .resume_skills_stuff {
    display: none;
  }
}

.resume_skills ul,
.resume_skills_stuff ul,
.resume_skills_analysis ul,
.resume_skills_manage ul{
  padding: 0px;
  margin: 20px 0 0 0;
}

.resume_skills  ul li,
.resume_skills_stuff ul li,
.resume_skills_analysis ul li,
.resume_skills_manage ul li{
  list-style-type: none;
  text-align: right;
  height: 1.1rem;
  margin: 0 0.6rem 0 0;
  padding-right: 0.6rem;
  font-family: Roboto;
  font-size: 0.65rem;
  /*font-style: italic;*/
  font-weight: bold;
  background: url("../../static/images/dash.jpg") no-repeat 100% 50%;
}

.section_label__left, .section_label__right {
  color: #fff;
  background-color: #000;
  letter-spacing: 0.125rem;
  padding: 0.5rem 1.25rem;
  font-size: 0.75rem;
  z-index: 100;
  position: absolute;
  top: -0.1rem;
}

.section_label__right {
  /*right: 5%;*/
}

.label__right {
  position: absolute;
  top: -0.3rem;
  right: 0px;
  font-size: 1.6rem;
  letter-spacing: 0.25rem;
  color: white;
  background: black;
  padding: 1rem;
  width: 6rem;
  text-align: center;
}

.figure {
  margin: 0px auto;
  width: 100%;
}

.analy {
  grid-area: analysis;
  padding-right:20%;
}

.analysis {
  /*grid-area: analysis;*/
  margin-top: 25px;
  font-size: 0.75rem;
  position: relative;
}

.analysis_end {
  grid-area: analysis;
}

.stuff {
  grid-area: stuff;
  padding-right:20%;
}

/*.stuff {*/
/*  margin-top: 25px;*/
/*  font-size: 0.75rem;*/
/*  position: relative;*/
/*}*/

.stuff_end {
  grid-area: stuff;
}

@media  (min-width: 44rem) and (min-height: 30rem) {
  .stuff_end {
    grid-area: stuff;
    padding-right: 20%;
  }
}

.other {
  grid-area: stuff;
  margin-top: 25px;
  font-size: 0.75rem;
  position: relative;
}

.mng {
  grid-area: manage;
  /*padding-right:20%;*/
}

.manage {
  margin-top: 25px;
  font-size: 0.75rem;
  position: relative;
}

.manage_end {
  grid-area: manage;
}

.management {
  grid-area: manage;
  margin-top: 25px;
  font-size: 0.75rem;
  position: relative;
}

/*.figure > div.analysis .bar {*/
/*  width: 14%;*/
/*}*/

.figure p {
  position: absolute;
  top: 62px;
  left: 0px;
  width: 100%;
  text-align: center;
  line-height: 1.5rem;
  color: #000;
  font-family: 'Roboto Light', sans-serif;
  font-size: 0.6rem;
  font-weight: bold;
  z-index: 100;
  padding: 0px;
}

.figure .bar {
  display: table-cell;
  vertical-align: top;
  padding: 0px;
  /*font-style: italic;*/
  font-size: 0.6rem;
  font-weight: 400;
  text-align: center;
  z-index: 300;
}

@media (min-width: 44rem) {
  .figure > div.analysis .graph_header.dark {
    border-right: 15px solid #ff3f18;
  }
}

.figure > div.analysis .graph_header {
  background-color: #f77c7f;
}

.figure > div.manage .bar {
    width: 14%;
}

.figure > div.management .graph_header {
  background-color: #26c6d6;
}

@media (min-width: 44rem) {
  .figure > div.management .graph_header.dark {
    border-right: 15px solid #4fabec;
  }
}

.figure > div.other .bar {
  width: 14%;
}

.figure > div.other .graph_header {
  background-color: #fd835e;
}

@media (min-width: 44rem) {
  .figure > div.other .graph_header.dark {
    border-right: 15px solid #ffb317;
  }
}

.figure .bar .graph_header {
  position: absolute;
  top: 74px;
  height: 18px;
  left: 0px;
  right: 0px;
}

.figure > div .intermediate.alt {
  height: 115px;
}

.figure > div .intermediate {
  height: 98px;
  width: 0.45rem;
  margin: 0 auto;
  border: 0px;
  text-align: center;
  position: relative;
  background: url("../../static/images/graph_sprite.png") -50px 0px no-repeat;
}

.figure > div .intermediate.alt div {
    position: absolute;
    bottom: 0px;
    left: 3px;
}

.figure > div .expert.alt {
  height: 115px;
}

.figure > div .expert {
  height: 98px;
  width: 0.45rem;
  margin: 0 auto;
  border: 0px;
  text-align: center;
  position: relative;
  background: url("../../static/images/graph_sprite.png") 0px 0px no-repeat;
}

.figure > div .expert.alt div {
    position: absolute;
    bottom: 0px;
    left: 3px;
}

.figure > div .advanced.alt {
  height: 115px;
}

.figure > div .advanced {
  height: 98px;
  width: 0.45rem;
  margin: 0 auto;
  border: 0px;
  text-align: center;
  position: relative;
  background: url("../../static/images/graph_sprite.png") -25px 0px no-repeat;
}

.figure > div .advanced.alt div {
    position: absolute;
    bottom: 0px;
    left: 3px;
}

