.cardMedia {
    height: 150px;
}

.cardContentHeading {
    font-weight: bold;
}

.cardContentUl {
    padding-inline-start: 0;
    padding-bottom: 10px;
    font-size: 14px;
    list-style-type: disc;
}